{% if user.is_authenticated %}
	<div id="add-calendar">
	<strong>Add a calendar</strong>
	<br>
    <form id="form-add-calendar" method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
		<input id="add-calendar-btn" type="submit" value="Add">
	</form>
	<br>
	</div>
	<div id="delete-calendar">
	<strong>Select calendar to delete</strong>
	<br>
	<form id="form-delete-calendar" method="post">
		{% csrf_token %}		
		<select name="calendar-title">
			<option value="blank" disabled="disabled" selected="selected">--Please select a calendar--</option>
			{% for cal in calendars %}
				<option value="{{ cal.title }}">{{ cal.title }}</option>
			{% endfor %}
		</select>
		<input id="delete-calendar-btn" type="submit" value="Delete">
	</form>
	</div>
{% endif %}
