<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  	<title>{% block title %}Calendar{% endblock %}</title>
  	<meta charset="utf-8">
  	<link rel="stylesheet" type="text/css" href="static/cal/stylesheet.css">
	<script type="text/javascript" src="{% static 'vendor/extensible/extensible-1.5.2/Extensible-config.js' %}"></script>
	<script type ="text/javascript" src="{% static 'cal/app.js' %}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'cal/ajax.js' %}"></script>
</head>
<body>
	<div id="header">
	<div id="messages">
	</div>
	<div id="user_header">
		{% include "cal/user_header.html" with user=user form=form signup_form=signup_form %}
	</div>
	</div>
	<div id="calendars">
		{% include "cal/calendars.html" with form=add_cal_form calendars=calendars %}
	</div>
	<div id="calbox" style="width:600px; height:400px;">
	</div>
	<span id="app-msg" class="x-hidden"></span>
</body>
</html>
