{% if user.is_authenticated %}
	<form class="logged-in" id="form-logout" method="post">
   		<p class="logged-in">Welcome, {{ user.username }}</p>
		{% csrf_token %}
		<input id="logout_btn" type="submit" value="Logout">
	</form>
{% else %}
    <p>Welcome. Please log in or sign up.</p>
    <form class="frm" id="form-login" method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Login">
    </form>
    <br>
    <form class="frm" id="form-signup" method="post">
    	{% csrf_token %}
    	{{ signup_form.as_p }}
    	<input type="submit" value="Sign Up">
    </form>
{% endif %}
